<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
</head>
<body>
<div class="choice">
    <ul class="p-l-170">
        <li>
            <a th:href="@{/user}">
                <div class="centerVertical centerHorizon buttonMenu">Пользователи</div>
            </a>
        </li>
        <li>
            <a th:href="@{/richUser}">
                <div class="centerVertical centerHorizon buttonMenu">Самый богатый</div>
            </a>
        </li>
    </ul>
</div>
</body>
</html>