<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div class="text-center">
    <h1 class="c-text-h1 margin-five">Самый богатый</h1>
</div>

<div class="table-container-user">
    <table>
        <thead>
        <tr>
            <th class="a-link-no-margin">Id</th>
            <th class="a-link-no-margin">Имя</th>
            <th class="a-link-no-margin">Фамилия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a th:text="${user.userid}"></a></td>
            <td th:utext="${user.name}" class="a-link-no-margin"></td>
            <td th:utext="${user.sureName}" class="a-link-no-margin"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>